body {
  background-color: rgba(255, 0, 0, 0.068);
}

.App {
  margin: 50px auto;
}

.navigation {
  padding: 20px; 
  text-align: center;
}

.navigation a {
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  color: black;
  background-color: tomato;
  border-radius: 5px;
}

.navigation a:hover {
  background-color: red;
}

.search {
  display: flex;
  justify-content: center;
}

